@import "tailwindcss";

@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 84% 4.9%);

  --dark-color-background: hsl(222.2 84% 4.9%);
  --dark-color-foreground: hsl(210 40% 98%);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
